<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
        colors="true"
        stopOnFailure="true">
    <testsuites>
        <testsuite name="GitWalrus Test Suite">
            <directory>tests/CypressLab/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/CypressLab/</directory>
        </whitelist>
    </filter>
</phpunit>
