<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/CypressLab/GitWalrus/Tests/bootstrap.php"
        colors="true"
        stopOnFailure="true">
    <testsuites>
        <testsuite name="GitWalrus Test Suite">
            <directory>src/CypressLab/GitWalrus/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/CypressLab/GitWalrus/</directory>
        </whitelist>
    </filter>
</phpunit>
