<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/CypressLab/Tests/bootstrap.php"
        colors="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite name="GitWalrus Test Suite">
            <directory>src/CypressLab/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/CypressLab/</directory>
        </whitelist>
    </filter>
</phpunit>
