<div loader ng-show="loading" class="loader"></div>
<ul class="nav nav-pills">
    <li class="active"><a href="#">Status</a></li>
    <li><a href="#/log">Log</a></li>
    <li><a href="#/tree/master">Tree</a></li>
</ul>
<hr />
<div class="row">
    <div class="col-md-6 diff">
        <div class="status working-tree">
            <h3>Working Tree</h3>
            <a href="#" class="stage-selected pull-right">stage selected <i class="fa fa-chevron-right"></i></a>
            <p ng-if="working_tree.all.length == 0" class="text-muted">Your working tree is clean! Keep coding... :)</p>
            <div ng-repeat="file in working_tree.untracked">
                <statusfile class="untracked"></statusfile>
            </div>
            <div ng-repeat="file in working_tree.modified">
                <statusfile class="modified"></statusfile>
            </div>
            <div ng-repeat="file in working_tree.added">
                <statusfile class="added"></statusfile>
            </div>
            <div ng-repeat="file in working_tree.deleted">
                <statusfile class="deleted"></statusfile>
            </div>
            <div ng-repeat="file in working_tree.renamed">
                <statusfile class="renamed"></statusfile>
            </div>
            <div ng-repeat="file in working_tree.copied">
                <statusfile class="copied"></statusfile>
            </div>
        </div>
    </div>
    <div class="col-md-6 diff">
        <div class="status" stagingarea>
            <h3>Index</h3>
            <p ng-if="index.all.length == 0" class="text-muted">Stage empty...</p>
            <div ng-repeat="file in index.untracked">
                <statusfile class="untracked"></statusfile>
            </div>
            <div ng-repeat="file in index.modified" class="working-tree">
                <statusfile class="modified"></statusfile>
            </div>
            <div ng-repeat="file in index.added" class="working-tree">
                <statusfile class="added"></statusfile>
            </div>
            <div ng-repeat="file in index.deleted" class="working-tree">
                <statusfile class="deleted"></statusfile>
            </div>
            <div ng-repeat="file in index.renamed" class="working-tree">
                <statusfile class="renamed"></statusfile>
            </div>
            <div ng-repeat="file in index.copied" class="working-tree">
                <statusfile class="copied"></statusfile>
            </div>
        </div>
    </div>
</div>