<div loader ng-show="loading" class="loader"></div>
<ul class="nav nav-pills">
    <li><a href="/">Status</a></li>
    <li><a href="/log">Log</a></li>
    <li class="active"><a href="/tree/master">Tree</a></li>
</ul>
<hr />
<table class="table table-bordered table-striped tree">
    <tr>
        <td data-ng-if="!tree.root" width="50%">
            <a href="{{ path|strip_last_tree_portion }}"><span class="fa fa-arrow-up fa-1g"></span></a>
        </td>
        <td width="50%" colspan="2">
            <button ng-click="go('/')" type="button" class="btn btn-default btn-xs pull-right"><span class="fa fa-arrow-left fa-1g"></span> Homepage</button>
        </td>
    </tr>
    <tr data-ng-repeat="children in tree.children">
        <td>
            <span class="fa fa-1g fa-folder-open" ng-if="children.type !== 'blob'"></span>
            <span class="fa fa-1g fa-file" ng-if="children.type == 'blob'"></span>
            <a href="{{ path }}/{{ children.name }}">{{ children.name }}</a>
        </td>
        <td>{{ children.last_commit.message }}</td>
    </tr>
    <tr data-ng-if="tree.subject.type == 'blob'">
        <td class="code" colspan="2">
            <!--<div hljs source="tree.binary_data"></div>-->
            <pre prettyprint></pre>
        </td>
    </tr>
</table>
