<hr />
<table class="table table-bordered table-striped tree">
    <tr class="col-md-12">
        <td data-ng-if="!tree.root" width="50%">
            <a href="{{ path|strip_last_tree_portion }}"><span class="fa fa-arrow-up fa-1g"></span></a>
        </td>
        <td width="50%" colspan="2">
            <button ng-click="go('/')" type="button" class="btn btn-default btn-xs pull-right"><span class="fa fa-arrow-left fa-1g"></span> Homepage</button>
        </td>
    </tr>
    <tr class="col-md-12" data-ng-repeat="children in tree.children">
        <td>
            <span class="fa fa-1g fa-folder-open" ng-if="children.type !== 'blob'"></span>
            <span class="fa fa-1g fa-file" ng-if="children.type == 'blob'"></span>
            <a href="{{ path }}/{{ children.name }}">{{ children.name }}</a>
        </td>
        <td>{{ children.last_commit.message }}</td>
    </tr>
    <tr class="col-md-12" data-ng-if="tree.subject.type == 'blob'">
        <td class="code" colspan="2">
            <div hljs source="tree.binary_data"></div>
        </td>
    </tr>
</table>
