<!doctype html>
<html lang="en" ng-app="gitWalrusApp">
    <head>
        <meta charset="utf-8">
        <title>Git Walrus</title>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/libs/syntaxhighlighter/styles/shCore.css" />
        <link rel="stylesheet" type="text/css" href="/libs/syntaxhighlighter/styles/shThemeDefault.css" />
        <script src="/libs/syntaxhighlighter/scripts/shCore.js"></script>
        <script src="/libs/syntaxhighlighter/scripts/shAutoloader.js"></script>
        <script src="/libs/syntaxhighlighter/scripts/shBrushJScript.js"></script>
        <script src="/bower/underscore/underscore.js"></script>
        <script src="/bower/angular/angular.js"></script>
        <script src="/bower/angular-resource/angular-resource.js"></script>
        <script src="/bower/angular-route/angular-route.js"></script>
        <script src="/bower/angular-underscore/angular-underscore.js"></script>
        <script src="/js/git-walrus.js"></script>
    </head>
    <body ng-controller="HomepageController">
        <div class="container">
            <h1>Git Walrus</h1>
            <div class="row">
                <div class="col-md-2 col-md-offset-10 text-right clock">
                    <small>{{ date | date: 'mediumTime' }}</small>
                </div>
            </div>
            <div ng-view></div>
        </div>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    </body>
</html>