<!doctype html>
<html lang="en" ng-app="gitWalrusApp">
    <head>
        <meta charset="utf-8">
        <title>Git Walrus</title>
        <link rel="stylesheet" type="text/css" href="<%= app.url_generator.generate('css') %>" />
        <script src="<%= app.url_generator.generate('js') %>"></script>
    </head>
    <body>
        <div class="git-walrus">
            <div class="row">
                <div class="col-md-12">
                    <clock class="pull-right label label-default">
                        {{ date | date: 'medium' }}
                    </clock>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 class="logo"><a href="/">Git Walrus</a> <small>manage git from the browser</small></h1>
                    </div>
                </div>
            </div>
            <div ng-view></div>
        </div>
    </body>
</html>