<!doctype html>
<html lang="en" ng-app="gitWalrusApp">
    <head>
        <meta charset="utf-8">
        <title>Git Walrus</title>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <script src="bower/angular/angular.js"></script>
        <script src="bower/angular-resource/angular-resource.js"></script>
        <script src="bower/angular-route/angular-route.js"></script>
        <script src="js/walrus/app.js"></script>
        <script src="js/walrus/controllers.js"></script>
    </head>
    <body ng-controller="HomepageController">
        <div class="container">
            <div ng-view></div>
        </div>
    </body>
</html>