<!doctype html>
<html lang="en" ng-app="gitWalrusApp">
    <head>
        <meta charset="utf-8">
        <title>Git Walrus</title>
        <link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bower/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/libs/syntaxhighlighter/styles/shCore.css" />
        <link rel="stylesheet" type="text/css" href="/libs/syntaxhighlighter/styles/shThemeDefault.css" />
        <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/github.min.css">
        <link href="/compass/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/compass/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link href="/compass/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
        <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script src="/bower/jquery/jquery.js"></script>
        <script src="/bower/underscore/underscore.js"></script>
        <script src="/bower/bootstrap/js/affix.js"></script>
        <script src="/bower/angular/angular.js"></script>
        <script src="/bower/angular-resource/angular-resource.js"></script>
        <script src="/bower/angular-route/angular-route.js"></script>
        <script src="/bower/angular-underscore/angular-underscore.js"></script>
        <script src="/bower/angular-highlightjs/angular-highlightjs.js"></script>
        <script src="/bower/angular-animate/angular-animate.js"></script>
        <script src="/js/git-walrus.js"></script>
    </head>
    <body ng-controller="HomepageController">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right label label-default clock">
                        {{ date | date: 'mediumTime' }}
                    </div>
                </div>
            </div>
            <h1 class="logo"><a href="/">Git Walrus</a></h1>
            <div ng-view></div>
        </div>
    </body>
</html>